<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:8080/ENT_Server" 
                      binding="basicHttpBinding"
                      bindingConfiguration="" 
                      contract="ENT_Interface.IENT"
                      name="ENT_Client" 
                      kind="" 
                      endpointConfiguration="">
            </endpoint>
        </client>
    </system.serviceModel>
    -->
</configuration>