<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:8080/ENT_Server" 
                      binding="basicHttpBinding"
                      bindingConfiguration="" 
                      contract="ENT_Server.WCF.IENT_Service"
                      name="ENT_Client" 
                      kind="" 
                      endpointConfiguration="">
                <identity>
                    <certificateReference storeName="My" 
                                          storeLocation="LocalMachine"
                                          x509FindType="FindBySubjectDistinguishedName" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>