<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ENTEntities" connectionString="metadata=res://*/Entity.ENT_DB.csdl|res://*/Entity.ENT_DB.ssdl|res://*/Entity.ENT_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NCDY\SQLEXPRESS;initial catalog=ENT;persist security info=True;user id=sa;password=abc123+;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>